doctype html

html

  head
    title = Stock Market App
    link(href="/www/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet")

  body(ng-app='stockApp')
    nav.navbar.navbar-default
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data.toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            span.sr-only
            span.icon-bar
            span.icon-bar(ui=sref='#') Home
            span.icon-bar(ui=sref='#') Quotes
            a.navbar-brand(ui=sref='#') Portfolio


    block content



