extends ./header.jade

block content
  p Welcome, lets buy some stocks!
  <div ui-view></div>

  //-Bootstrap js and required jquery
script(src="/public/vendor/jquery/dist/jquery.min.js")
script(src="/public/vendor/bootstrap/dist/js/bootstrap.min.js")

    //- angular links
script(src="/public/vendor/angular/angular.min.js")
script(src="/public/vendor/angular-ui-router/release/angular-ui-router.min.js")
script(src="/javascripts/app.js")

  //- controllers
script(src="/javascripts/controllers/quotesCtrl.js")

